<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="true"
        android:label="StudyMate"
        android:supportsRtl="true"
        android:theme="@style/Theme.StudyMate">
        <activity android:name=".PartnerDetailsActivity" />
        <activity android:name=".SearchPartnersActivity" />
        <activity android:name=".StudyRequestDetailsActivity" />
        <activity android:name=".MyRequestsActivity" />
        <activity android:name=".CreateRequestActivity" />
        <activity android:name=".ProfileActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
